<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>监测管理</title>
    <style th:replace="common::common_header"></style>
    <link rel="stylesheet" th:href="@{/css/monitor/monitor.css}">
</head>
<body>
<!--导航栏-->
<div th:replace="common::header"></div>
<!--侧边栏-->
<div th:replace="common::slider"></div>

<div id="main-content">
    <div class="leftContent">
        <div class="firstLine">
            <div class="title-panel">折线图--测试</div>
            <div class="panel line" id="lineTest"></div>
        </div>
<!--        <div class="secondLine">-->
<!--            <div class="title-panel">饼状图&#45;&#45;测试</div>-->
<!--            <div class="panel bar" id="pieTest"></div>-->
<!--        </div>-->
    </div>
    <div class="rightContent">
        <div class="firstLine">
            <div class="title-panel">通知-信息</div>
            <div class="info">
                <article>
                    <p>由于最近使用了一段时间的Semantic UI，在项目中做一些响应式的页面，所以对<a href="https://link.jianshu.com?t=https://semantic-ui.com/collections/grid.html#doubling" rel="nofollow" target="_blank">Semantic UI</a>的响应式布局开发有一些经验，记录在这里。</p>
                    <p>由于最近使用了一段时间的Semantic UI，在项目中做一些响应式的页面，所以对<a href="https://link.jianshu.com?t=https://semantic-ui.com/collections/grid.html#doubling" rel="nofollow" target="_blank">Semantic UI</a>的响应式布局开发有一些经验，记录在这里。</p>
            </article>
            </div>
        </div>
        <div class="secondLine">
            <div class="title-panel">不同屏幕的区分</div>
            <p>这几个变量的用法还是很灵活的，例如，如果你的某个元素只在手机上显示的话，你可以使用：</p>
            <p>这几个变量的用法还是很灵活的，例如，如果你的某个元素只在手机上显示的话，你可以使用：</p>
            <p>这几个变量的用法还是很灵活的，例如，如果你的某个元素只在手机上显示的话，你可以使用：</p>
        </div>
    </div>

    <div class="showBtn"></div>
    <div class="showBtnBox">
        <div class="btnBoxTitle">盒子标题</div>
        <div class="btnBoxContent">
            <span>测试测试test</span>
        </div>
    </div>
</div>

<script src="/js/monitor/monitor.js" th:src="@{/js/monitor/monitor.js}" type="text/javascript"></script>
</body>
</html>