<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <style th:replace="common::common_header"></style>

    <link rel="stylesheet" th:href="@{/css/account/configuration.css}">
</head>
<body>
<!--导航栏-->
<div th:replace="common::header"></div>
<!--侧边栏-->
<div th:replace="common::slider"></div>

<div id="main-content">
    <div id="outBox">
        <div id="rightContent">
            <div class="firstLine">
                <div class="line-title-small">id</div>
                <div class="line-title-small">用户名</div>
                <div class="line-title-small">添加时间</div>
                <div class="line-title-small">更新时间</div>
                <div class="line-title-small">权限</div>
            </div>
            <form id="updateUserForm" th:action="@{/account/invokeUserByUserId.do}">
                <div class="contentLine">
                    <div class="contentLines" th:each="user:${pageInfo.getList()}">
                        <div class="contentLinesLeft">
                            <span class="line-measure">
                                <input class="textInputNone" disabled th:value="${user.id}"  type="text">
                            </span>
                        </div>
                        <div class="contentLinesLeft">
                            <span class="line-measure">
                                <input class="textInputNone" disabled th:value="${user.userName}"  type="text">
                            </span>
                        </div>
                        <div class="contentLinesLeft">
                            <span class="line-measure">
                                <input class="textInputNone" disabled th:value="${#dates.format(user.addTime,'yyyy-MM-dd HH:mm:ss')}"  type="text">
                            </span>
                        </div>
                        <div class="contentLinesLeft">
                            <span class="line-measure">
                                <input class="textInputNone" disabled th:value="${#dates.format(user.updateTime,'yyyy-MM-dd HH:mm:ss')}" type="text">
                            </span>
                        </div>
                        <div class="contentLinesLeft">
                            <span class="line-measure">
                                <div class="field" id="select-field">
                                    <select class="ui fluid dropdown textInputNone" id="invokeSelect" th:redata="${user.id}">
                                        <option th:selected="${user.limits}=='root'" value="root">root</option>
                                        <option th:selected="${user.limits}=='account'" value="account">account</option>
                                        <option th:selected="${user.limits}=='monitor'" value="monitor">monitor</option>
                                        <option th:selected="${user.limits}=='project'" value="project">project</option>
                                    </select>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="contentLines noneBottomBorder">
                <div class="contentLinesRight">
                            <span class="line-measure">
                                <div class="ui animated fade button" id="returnLast" style="float: right;margin-right: 10px" tabindex="0">
                                    <div class="visible content">返回</div>
                                    <div class="hidden content">
                                        <i class="left reply icon"></i>
                                    </div>
                                </div>
                                <div class="ui icon buttons" id="pageSplice">
                                    <a th:href="'?pageNum=1&pageSize='+${pageInfo.getPageSize()}"><button class="ui button fix-large"><i class="fast backward icon"></i></button></a>
                                    <a th:href="'?pageNum='+${pageInfo.getPageNum()-1<=0?1:pageInfo.getPageNum()-1}+'&pageSize='+${pageInfo.getPageSize()}"><button class="ui button fix-large"><i class="chevron left icon"></i></button></a>
                                    <a th:each="number:${#numbers.sequence(1, pageInfo.getPages())}" th:href="'?pageNum='+${number}+'&pageSize='+${pageInfo.getPageSize()}"><button class="ui button fix-large" th:classappend="${number==pageInfo.getPageNum()}?'button-choose':''" th:text="${number}"></button></a>
                                    <a th:href="'?pageNum='+${pageInfo.getPageNum()+1>pageInfo.getPages()?pageInfo.getPages():pageInfo.getPageNum()+1}+'&pageSize='+${pageInfo.getPageSize()}"><button class="ui button fix-large"><i class="chevron right icon"></i></button></a>
                                    <a th:href="'?pageNum='+${pageInfo.getPages()}+'&pageSize='+${pageInfo.getPageSize()}"><button class="ui button fix-large"><i class="fast forward icon"></i></button></a>
                                </div>
                            </span>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/js/account/configuration.js}" type="text/javascript"></script>
<script th:src="@{/js/account/user.js}" type="text/javascript"></script>
<script>
    $(()=>{
        $(".ui .dropdown").dropdown()
    })
</script>
</body>
</html>